<div aria-label="Basic example" class="btn-group mt-3 top-0 start-50 translate-middle-x" role="group">
  <button (click)="showLineChart(); activeButton = 'line'" [class.active]="activeButton === 'line'"
          class="btn btn-outline-dark " type="button">Line Chart
  </button>
  <button (click)="showCandlestickChart(); activeButton = 'candlestick'" [class.active]="activeButton === 'candlestick'"
          class="btn btn-outline-dark"
          type="button">Candlestick Chart
  </button>
  <button (click)="showCandlestickAndValueChart(); activeButton = 'candlestickAndValue'"
          [class.active]="activeButton === 'candlestickAndValue'"
          class="btn btn-outline-dark" type="button">Candlestick and value
    Chart
  </button>
</div>

<div [chart]="chart" class="mt-3"></div>

